<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="css/popup.css">
		<link type="text/css" rel="stylesheet" href="css/fawesome.css">

		<script src="js/vue.js" type="text/javascript"></script>
		<script src="js/components.js" type="text/javascript"></script>
		<script src="js/main.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="vault" id="vault">
			
			<div class="lock" :class="{ unlocked: !vault.locked && justUnlocked }" v-if="justUnlocked || vault.locked">
				<div class="lock-container">
					<input type="password" :class="{ wrong: wrongPassword }" class="lock-master-input" v-on:change="unlock" v-on:input="wrongPassword = false" autofocus :disabled="!vault.locked"  />
				</div>
			</div>

			<div class="tray-header">
				<div class="header-segment header-segment-button clickable" title="Close Vault" v-on:click="lock">
					<i class="fa fa-lock"></i>
				</div>

				<div class="header-segment header-segment-fill">
					<h1 class="center">{{ title }}</h1>
				</div>

				<div class="header-segment header-segment-button clickable" title="Add Tray" v-on:click="addTray">
					<i class="fa fa-plus"></i>
				</div>
			</div>

			<ul class="vault-trays">
				<tray v-for="entry in vault.entries" :data="entry" v-on:insert="insertData" v-on:delete="removeTray" v-on:save="save"> 
			</ul>
		</div>
	</body>
</html>
